[Desktop Entry]
Type=Application
Categories=/usr/share/alterator/desktop-directories/system.directory
Icon=datetime
Terminal=false
Name=Date/Time
X-Alterator-URI=/datetime/system
X-Alterator-Weight=20
X-Alterator-Help=datetime
Name[ru]=Дата и время
Name[uk]=Дата й час
Name[pt_BR]=Data/Hora
dbusServiceName=ru.basealt.alterator
dbusPath=/ru/basealt/alterator/datetime
dbusInteface=ru.basealt.alterator.diag_interface
dbusMethod=run
args=ls /dev -la
