[Desktop Entry]
Type=Application
Categories=/usr/share/alterator/desktop-directories/users.directory
Icon=groups
Terminal=false
X-Alterator-URI=/groups
X-Alterator-Weight=20
X-Alterator-Help=groups
Name=Local groups
Name[ru]=Локальные группы
Name[uk]=Групи
Name[pt_BR]=Grupos
Name[es]=Grupos
