[Desktop Entry]
Type=Application
Categories=/usr/share/alterator/desktop-directories/system.directory
Terminal=false
Name=System update
Icon=updates
X-Alterator-URI=/updates
X-Alterator-Help=updates
Name[ru]=Обновление системы
