[Desktop Entry]
Encoding=UTF-8
Type=Application
Categories=/usr/share/alterator/desktop-directories/xorg.directory
Icon=xkb
Terminal=false
Name=Keyboard
X-Alterator-URI=/xkb
X-Alterator-Weight=10
X-Alterator-Help=xkb
Name[ru]=Клавиатура
Name[uk]=Клавіатура
